<h1> Welcome, To Student Course Enrollment Application </h1>
<p> Students List:<strong><%= link_to 'Student', students_path %></strong></p>
<p> Courses List:<strong><%= link_to 'Course', courses_path  %></strong></p>